module prelude-manager 1.0;

require {
        type prelude_t;
        type tmp_t;
        type smtp_port_t;
        type initrc_t;
        class file { write open create };
        class dir { add_name write };
        class sock_file write;
        class tcp_socket name_connect;
        class unix_stream_socket connectto;
}

#============= prelude_t ==============

# Grant permissons to prelude-manager to connect to Unix stream socket
# Ex: /tmp/.s.PGSQL.5432
allow prelude_t tmp_t:sock_file write;
allow prelude_t initrc_t:unix_stream_socket connectto;

# Grant permissons to prelude-manager to use XML mod
# It will write output to a file in /tmp
allow prelude_t tmp_t:dir { write add_name };
allow prelude_t tmp_t:file { create open write };

# Grant permissons to prelude-manager to connect to a SMTP server
allow prelude_t smtp_port_t:tcp_socket name_connect;
